*__pycache__*
django_delivery/db.sqlite3
django_delivery/run.sh

django_delivery/certificates/*
django_delivery/data/*
django_delivery/django_delivery/settingslocal.py

django-rest-framework/
uniDelivery
