{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block container_inner %}
{% block content_title %}{% endblock content_title %}
<div class="callout {{ msg_type }} mt-5">
	<div class="callout-title">
        <svg class="icon icon-secondary icon-{{ msg_type }}">
            {% if msg_type == "danger" %}
            <use xlink:href="{% static 'svg/sprite.svg' %}#it-close-circle"></use>
            {% else %}
            <use xlink:href="{% static 'svg/sprite.svg' %}#it-check-circle"></use>
            {% endif %}
        </svg> {% trans "Avviso" %}</div>
	<p>
        {{ avviso }}
        <hr>
        <button class="btn btn-outline-secondary"
           onclick="window.history.back();">
            {% trans "Torna indietro" %}
        </button>
    </p>
</div>
{% endblock container_inner %}
