{% load i18n %}
{% load good_delivery_tags %}

{% if good_delivery.delivery_date %}
    <span class="badge badge-success mb-2">
        {% trans "Consegnato" %}
    </span>
{% else %}
    <span class="badge badge-danger mb-2">
        {% trans "Attesa ritiro" %}
    </span>
{% endif %}

{% if good_delivery.disabled_date %}
    <span class="badge badge-danger mb-2">
        {% trans "Disabilitata" %}
    </span>
{% endif %}

{% if good_delivery.return_date %}
    <span class="badge badge-warning mb-2">
        {% trans "Restituito" %}
    </span>
{% endif %}

<h5 class="card-title">{{ good_delivery.good }}</h5>

{% if good_delivery.good_identifier %}
<p class="card-text">
    <b>ID: {{ good_delivery.good_identifier }}</b>
</p>
{% endif %}

{% if good_delivery.notes %}
<p class="card-text">
    {{ good_delivery.notes }}
</p>
{% endif %}

<p class="card-text">
    <b>{% trans "Data inserimento" %}:</b> {{ good_delivery.create }}
</p>

{% if good_delivery.delivery_date %}
<p class="card-text">
    <b>{% trans "Consegnato il" %}:</b> {{ good_delivery.delivery_date }}
    {% if good_delivery.delivered_by %}
        <br>
        <b>{% trans "Operatore" %}:</b> {{ good_delivery.delivered_by }}
    {% endif %}
</p>
{% endif %}

{% if good_delivery.disabled_date %}
<p class="card-text">
    <b>{% trans "Disabilitata il" %}:</b> {{ good_delivery.disabled_date }}
    <br>
    <b>{% trans "Operatore" %}:</b> {{ good_delivery.disabled_by }}
</p>
{% endif %}

{% if good_delivery.return_date %}
<p class="card-text">
    <b>{% trans "Restituito il" %}:</b> {{ good_delivery.return_date }}
    <br>
    <b>{% trans "Operatore" %}:</b> {{ good_delivery.returned_to }}
</p>
{% endif %}
