{% load i18n %}
{% load good_delivery_tags %}

{% if not good_delivery.delivery_point %}
    <span class="badge badge-secondary mb-2">
        {% trans "Da definire" %}
    </span>
{% elif good_delivery.delivery_date %}
    <span class="badge badge-success mb-2">
        {% trans "Consegnato" %}
    </span>
{% else %}
    <span class="badge badge-secondary mb-2">
        {% trans "In attesa di ritiro" %}
    </span>
{% endif %}

{% if good_delivery.disabled_date %}
    <span class="badge badge-danger mb-2">
        {% trans "Disabilitata" %}
    </span>
{% endif %}

{% if good_delivery.return_date %}
    <span class="badge badge-warning mb-2">
        {% trans "Restituito" %}
    </span>
{% endif %}

<h5 class="card-title">{{ good_delivery.good }}</h5>

{% if good_delivery.good_identifier %}
<p class="card-text">
    <b>ID: {{ good_delivery.good_identifier }}</b>
    {% if good_delivery.notes %}
        <br>
        {{ good_delivery.notes }}
    {% endif %}
</p>
{% endif %}

<p class="card-text">
    <b>{% trans "Quantità" %}:</b> {{ good_delivery.quantity }}
    <br>
    <b>{% trans "Data inserimento" %}:</b> {{ good_delivery.create }}
</p>

{% if good_delivery.delivery_date %}
<p class="card-text">
    <b>{% trans "Consegnato il" %}:</b> {{ good_delivery.delivery_date }}
    <br>
    <b>{% trans "Punto di consegna" %}:</b> {{ good_delivery.delivery_point }}
    <br>
    <b>{% trans "Operatore" %}:</b> {{ good_delivery.delivered_by }}
</p>
{% endif %}

{% if good_delivery.disabled_date %}
<p class="card-text">
    <b>{% trans "Disabilitato il" %}:</b> {{ good_delivery.disabled_date }}
    <br>
    <b>{% trans "Punto di consegna" %}:</b> {{ good_delivery.disabled_point }}
    <br>
    <b>{% trans "Operatore" %}:</b> {{ good_delivery.disabled_by }}
</p>
{% endif %}

{% if good_delivery.return_date %}
<p class="card-text">
    <b>{% trans "Restituito il" %}:</b> {{ good_delivery.return_date }}
    <br>
    <b>{% trans "Punto di consegna" %}:</b> {{ good_delivery.returned_point }}
    <br>
    <b>{% trans "Operatore" %}:</b> {{ good_delivery.returned_to }}
</p>
{% endif %}
