{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load good_delivery_tags %}

{% block menu_links %}
{% include 'operator_menu.html' %}
{% endblock menu_links %}

{% block container_inner %}
<div class="pb-4">
    <div class="pb-3">
        <div class="form-group">
            <input type="text"
                   id="campaignsFilter"
                   placeholder="{% trans 'Filtra per parole chiave...' %}">
            <span class="autocomplete-icon" aria-hidden="true">
                <svg class="icon icon-sm">
                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-search"></use>
                </svg>
            </span>
        </div>

        <div class="row" id="campaigns-grid">
            {% for campaign in campaigns %}
                {% include "campaign_detail.html" %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock container_inner %}

{% block extra_scripts %}
<script>
$(document).ready(function(){
    $("#campaignsFilter").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#campaigns-grid .category-box").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
});
</script>
{% endblock extra_scripts %}
