{% extends "base_page_schema.html" %}

{% load i18n %}
{% load static %}
{% load good_delivery_tags %}

{% block menu_links %}
{% include 'operator_menu.html' %}
{% endblock menu_links %}

{% block top_buttons %}
<div>
    <a role="button" class="btn btn-outline-secondary"
       href="{% url 'good_delivery:operator_active_campaigns' %}">
        <svg class="icon icon-xs">
            <use xlink:href="{% static 'svg/sprite.svg' %}#it-arrow-left"></use>
        </svg> {% trans "Torna alle campagne" %}
    </a>
    {% if campaign.operator_can_create %}
    <a role="button" class="btn btn-success pull-right"
       href="{% url 'good_delivery:operator_new_delivery_preload' campaign.pk %}">
        <svg class="icon icon-xs icon-white">
            <use xlink:href="{% static 'svg/sprite.svg' %}#it-plus-circle"></use>
        </svg> {% trans "Nuova consegna" %}
    </a>
    {% endif %}
</div>
{% endblock top_buttons %}

{% block over_content %}
    {% if campaign.note_operator %}
    <p>{{ campaign.note_operator }}</p>
    {% endif %}

    {% include "campaign_detail.html" %}
{% endblock over_content %}

{% block page_content %}
    {% include 'datatables/table.html' %}
{% endblock page_content %}

{% block extra_scripts %}
    {% url 'good_delivery:campaign_users_json' campaign_id=campaign.pk as ajax_url %}
    {% include 'datatables/datatable_script.html' with ajax_url=ajax_url %}
{% endblock extra_scripts %}





