{% extends "base_page_schema.html" %}

{% load i18n %}
{% load static %}
{% load good_delivery_tags %}

{% block menu_links %}
{% include 'operator_menu.html' %}
{% endblock menu_links %}

{% block top_buttons %}
<div class="pb-4">
    <a role="button" class="btn btn-outline-secondary"
       href="{% url 'good_delivery:operator_active_campaigns' %}">
        <svg class="icon icon-xs">
            <use xlink:href="{% static 'svg/sprite.svg' %}#it-arrow-left"></use>
        </svg> {% trans "Home" %}
    </a>
    <a role="button" class="btn btn-outline-secondary"
       href="{% url 'good_delivery:operator_campaign_detail' campaign.slug %}">
        <svg class="icon icon-xs">
            <use xlink:href="{% static 'svg/sprite.svg' %}#it-arrow-left"></use>
        </svg> {{ campaign }}
    </a>
    <a role="button" class="btn btn-outline-secondary"
       href="{% url 'good_delivery:operator_delivery_point_detail' campaign.slug delivery_point.pk %}">
        <svg class="icon icon-xs">
            <use xlink:href="{% static 'svg/sprite.svg' %}#it-arrow-left"></use>
        </svg> {{ delivery_point }}
    </a>
</div>

{% if campaign.new_delivery_if_disabled and good_delivery.disabled_date %}
<a role="button" class="btn btn-success"
       href="{% url 'good_delivery:operator_another_delivery' campaign.slug delivery_point.pk good_delivery.pk %}">
        <svg class="icon icon-xs icon-white">
            <use xlink:href="{% static 'svg/sprite.svg' %}#it-plus-circle"></use>
        </svg> {% trans "Nuova consegna" %}
    </a>
{% endif %}

{% if good_delivery.can_be_marked_by_operator %}
<button type="button"
   class="btn btn-outline-success"
   data-toggle="modal"
   data-target="#deliveryGood">
    <svg class="icon icon-xs icon-success">
        <use xlink:href="{% static 'svg/sprite.svg' %}#it-check-circle"></use>
    </svg> {% trans "Marca come consegnato" %}
</button>
<div class="modal fade" tabindex="-1" role="dialog" id="deliveryGood">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    {% trans "Completa procedura di consegna" %}
                </h5>
                <button class="close" type="button"
                        data-dismiss="modal" aria-label="Close">
                   <svg class="icon">
                      <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                   </svg>
                </button>
            </div>
            <div class="modal-body">
                <p>{% trans "Desideri completare la procedura di consegna " %}
                   <b>{{ good_delivery }}</b> ?
                </p>
            </div>
            <div class="modal-footer">
                <a role="button" class="btn btn-success"
                   href="{% url 'good_delivery:operator_good_delivery_deliver' campaign.slug delivery_point.pk good_delivery.pk %}">
                    {% trans "Si, confermo" %}
                </a>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if good_delivery.is_waiting %}
<button type="button"
   class="btn btn-outline-secondary"
   data-toggle="modal"
   data-target="#resetDelivery">
    <svg class="icon icon-xs icon-info">
        <use xlink:href="{% static 'svg/sprite.svg' %}#it-restore"></use>
    </svg> {% trans "Reset" %}
</button>
<div class="modal fade" tabindex="-1" role="dialog" id="resetDelivery">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    {% trans "Reset quantità inserite" %}
                </h5>
                <button class="close" type="button"
                        data-dismiss="modal" aria-label="Close">
                   <svg class="icon">
                      <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                   </svg>
                </button>
            </div>
            <div class="modal-body">
                <p>{% trans "Desideri resettare le quantità dei beni per " %}
                   <b>{{ good_delivery }}</b> ?
                </p>
                <p>Questa scelta distruggerà l'attuale contenuto del carrello.</p>
            </div>
            <div class="modal-footer">
                <a role="button" class="btn btn-secondary"
                   href="{% url 'good_delivery:operator_good_delivery_reset' campaign.slug delivery_point.pk good_delivery.pk %}">
                    {% trans "Si, confermo" %}
                </a>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if good_delivery.can_be_disabled %}
<a role="button" class="btn btn-outline-danger"
   href="{% url 'good_delivery:operator_good_delivery_disable' campaign.slug delivery_point.pk good_delivery.pk %}">
    <svg class="icon icon-xs icon-danger">
        <use xlink:href="{% static 'svg/sprite.svg' %}#it-ban"></use>
    </svg> {% trans "Disabilita" %}
</a>
{% endif %}

{% if good_delivery.can_be_deleted %}
<button type="button"
   class="btn btn-outline-danger"
   data-toggle="modal"
   data-target="#deleteDeliveryGood">
    <svg class="icon icon-xs icon-danger">
        <use xlink:href="{% static 'svg/sprite.svg' %}#it-delete"></use>
    </svg> {% trans "Elimina" %}
</button>
<div class="modal fade" tabindex="-1" role="dialog" id="deleteDeliveryGood">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    {% trans "Elimina procedura di consegna" %}
                </h5>
                <button class="close" type="button"
                        data-dismiss="modal" aria-label="Close">
                   <svg class="icon">
                      <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                   </svg>
                </button>
            </div>
            <div class="modal-body">
                <p>{% trans "Desideri eliminare la procedura di consegna " %}
                   <b>{{ good_delivery }}</b> ?
                </p>
            </div>
            <div class="modal-footer">
                <a role="button" class="btn btn-danger"
                   href="{% url 'good_delivery:operator_good_delivery_delete' campaign.slug delivery_point.pk good_delivery.pk %}">
                    {% trans "Si, confermo" %}
                </a>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if good_delivery.can_be_marked_by_user or good_delivery.single_items_to_deliver %}
<a role="button" class="btn btn-success pull-right"
   href="{% url 'good_delivery:operator_good_delivery_send_token' campaign.slug delivery_point.pk good_delivery.pk %}">
        <svg class="icon icon-xs icon-white">
            <use xlink:href="{% static 'svg/sprite.svg' %}#it-link"></use>
        </svg> {% trans "Invia link attivazione" %}
</a>
{% endif %}

{% endblock top_buttons %}

{% block page_content %}
    {% include "delivery_details.html" %}

    {% if returned_items_to_replace and not good_delivery.disabled_date %}
    <div class="pb-4">
        {% for k,v in returned_items_to_replace %}
            <a role="button" class="btn btn-outline-success btn-xs"
               href="{% url 'good_delivery:operator_good_delivery_add_replaced_item' campaign.slug delivery_point.pk good_delivery.pk k.pk %}">
                    <svg class="icon icon-xs icon-success">
                        <use xlink:href="{% static 'svg/sprite.svg' %}#it-plus-circle"></use>
                    </svg> {% trans "Aggiungi" %} {{ k }}
            </a>
        {% endfor %}
    </div>
    {% endif %}

    {% if good_delivery.is_waiting and good_forms %}
    <hr />
    <div class="pb-4">
        <form method="post" enctype="multipart/form-data">

            {% for good_form in good_forms %}
                <div class="pb-4">
                    <h4>{{ good_form.instance }}</h4>
                    {% if good_form.instance.return_date %}
                    <span class="badge badge-warning mb-2">
                        {% trans "Restituito" %}
                        -
                        {{ good_form.instance.return_date }}
                        -
                        {{ good_form.instance.returned_to }}
                    </span>
                    {% endif %}
                    {{ good_form.as_p }}
                </div>

            {% endfor %}


            {% csrf_token %}
            {% block form_buttons %}
            <div>
                <button type="button"
                        class="btn btn-success btn-block"
                        data-toggle="modal"
                        data-target="#action">
                        <svg class="icon icon-xs icon-white">
                            <use xlink:href="{% static 'svg/sprite.svg' %}#it-check"></use>
                        </svg>
                        {% trans "Modifica" %}
                </button>
                <div class="modal fade" tabindex="-1" role="dialog" id="action">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">
                                    {% trans "Modifica consegna" %}
                                </h5>
                                <button class="close" type="button"
                                        data-dismiss="modal" aria-label="Close">
                                   <svg class="icon">
                                      <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                                   </svg>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>{% trans "Vuoi davvero procedere confermando i dati immessi?" %}</p>
                            </div>
                            <div class="modal-footer">
                                <input class="btn btn-success"
                                       type="submit"
                                       value="{% trans 'Si, procedi' %}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock form_buttons %}
        </form>
    </div>
    {% endif %}
    {% if logs %}
    <div id="collapseDiv1-lft" class="collapse-div collapse-left-icon" role="tablist">
        <div class="collapse-header" id="heading2-lft">
            <button data-toggle="collapse" data-target="#collapse2-lft" aria-expanded="false" aria-controls="collapse2-lft">
                {% trans "Aggiornamenti di stato (Log)" %} ({{ logs|length }})
            </button>
        </div>
        <div id="collapse2-lft" class="collapse" role="tabpanel" aria-labelledby="heading2-lft">
            <div class="collapse-body">
                {% include "logs.html" %}
            </div>
        </div>
    </div>
    {% endif %}

{% endblock page_content %}

{% block extra_scripts %}
{{ block.super }}
{{ form.media }}
{% endblock extra_scripts %}
