{% extends "form_complete.html" %}

{% load i18n %}
{% load static %}
{% load good_delivery_tags %}

{% block menu_links %}
{% include 'operator_menu.html' %}
{% endblock menu_links %}

{% block top_buttons %}
<a role="button" class="btn btn-outline-secondary"
   href="{% url 'good_delivery:operator_active_campaigns' %}">
    <svg class="icon icon-xs">
        <use xlink:href="{% static 'svg/sprite.svg' %}#it-arrow-left"></use>
    </svg> {% trans "Home" %}
</a>
<a role="button" class="btn btn-outline-secondary"
   href="{% url 'good_delivery:operator_campaign_detail' campaign.slug %}">
    <svg class="icon icon-xs">
        <use xlink:href="{% static 'svg/sprite.svg' %}#it-arrow-left"></use>
    </svg> {{ campaign }}
</a>
<a role="button" class="btn btn-outline-secondary"
   href="{% url 'good_delivery:operator_delivery_point_detail' campaign.slug delivery_point.pk %}">
    <svg class="icon icon-xs">
        <use xlink:href="{% static 'svg/sprite.svg' %}#it-arrow-left"></use>
    </svg> {{ delivery_point }}
</a>
{% if good_delivery.can_be_disabled %}
<a role="button" class="btn btn-outline-danger"
   href="{% url 'good_delivery:operator_good_delivery_disable' campaign.slug delivery_point.pk good_delivery.pk %}">
    <svg class="icon icon-xs icon-danger">
        <use xlink:href="{% static 'svg/sprite.svg' %}#it-ban"></use>
    </svg> {% trans "Disabilita" %}
</a>
{% endif %}
{% endblock top_buttons %}
