{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load good_delivery_tags %}

{% block menu_links %}
{% include 'operator_menu.html' %}
{% endblock menu_links %}

{% block container_inner %}
    {% block top_buttons_surround %}
    <div class="pb-4">
        {% block top_buttons %}
        <div>
            <a role="button" class="btn btn-outline-secondary"
               href="{% url 'good_delivery:operator_active_campaigns' %}">
                <svg class="icon icon-xs">
                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-arrow-left"></use>
                </svg> {% trans "Home" %}
            </a>
            {% if campaign.operator_can_create %}
            <a role="button" class="btn btn-success pull-right"
               href="{% url 'good_delivery:operator_new_delivery_preload' campaign.slug delivery_point.pk %}">
                <svg class="icon icon-xs icon-white">
                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-plus-circle"></use>
                </svg> {% trans "Nuova consegna" %}
            </a>
            {% endif %}
        </div>
        {% endblock top_buttons %}
    </div>
    {% endblock top_buttons_surround %}

    {% if campaign.note_operator %}
        <p>{{ campaign.note_operator }}</p>
    {% endif %}

    {% include "campaign_detail.html" %}

    {% for delivery_point in delivery_points %}
    <div class="col-12 col-lg-4 category-box">
        <!--start card-->
        <div class="card-wrapper card-space">
          <div class="card card-bg no-after">
            <div class="card-body">
                <a class="read-more" href="{% url 'good_delivery:operator_delivery_point_detail' campaign_id=campaign.slug delivery_point_id=delivery_point.pk %}">
                    <h5 class="card-title">{{ delivery_point.name }}</h5>
                </a>
                <p class="card-text">
                    <b>{% trans "Location" %}:</b> {{ delivery_point.location }}
                    {% if delivery_point.notes %}
                        <br>
                        {{ delivery_point.notes }}
                    {% endif %}
                </p>
            </div>
          </div>
        </div>
        <!--end card-->
      </div>
    {% endfor %}

{% endblock container_inner %}
