{% extends "base_page_schema.html" %}

{% load i18n %}
{% load static %}

{% block menu_links %}
{% include 'operator_menu.html' %}
{% endblock menu_links %}

{% block top_buttons %}
<a role="button" class="btn btn-outline-secondary"
   href="">
    <svg class="icon icon-xs">
        <use xlink:href="{% static 'svg/sprite.svg' %}#it-arrow-left"></use>
    </svg> {% trans "Torna alla Dashboard" %}
</a>
{% endblock top_buttons %}

{% block page_content %}
<b><label for="good">{% trans "Bene" %}</label></b>
<div class="bootstrap-select-wrapper">
    <select id="good"
            name="good"
            title="{% trans 'Seleziona il bene da assegnare' %}"
            data-live-search="true" data-live-search-placeholder="Cerca...">
        <option value="">{% trans "Scegli un'opzione" %}</option>
        {% for good in goods %}
        <option value="{{ good.pk }}">{{ good }}</option>
        {% endfor %}
    </select>
</div>
{% endblock page_content %}

{% block extra_scripts %}
<script type="text/javascript">
$('#good').on('change', function(event) {
    if($(this).val())
        window.location.href = window.location.href + $(this).val();
});
</script>
{% endblock extra_scripts %}
