{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load good_delivery_tags %}

{% block menu_links %}
{% include 'operator_menu.html' %}
{% endblock menu_links %}

{% block container_inner %}
<div class="pb-4">
    <div class="pb-3">
        <div class="form-group">
            <input type="text" id="categoriesFilter" placeholder="{% trans 'Filtra per parole chiave...' %}">
            <span class="autocomplete-icon" aria-hidden="true">
                <svg class="icon icon-sm">
                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-search"></use>
                </svg>
            </span>
        </div>

        <div class="row" id="categories-grid">
          {% for campaign in campaigns %}
          <div class="col-12 col-lg-4 category-box">
            <!--start card-->
            <div class="card-wrapper card-space">
              <div class="card card-bg no-after">
                <div class="card-body">
                    {% if campaign.is_in_progress %}
                        <span class="badge badge-success mb-2">
                            {% trans "In corso" %}
                        </span>
                    {% else %}
                        <span class="badge badge-danger mb-2">
                            {% trans "Non in corso" %}
                        </span>
                    {% endif %}
                <a class="read-more" href="{% url 'good_delivery:operator_campaign_detail' campaign_id=campaign.pk %}">
                    <h5 class="card-title">{{ campaign.name }}</h5>
                </a>
                  <p class="card-text">
                      <b>{% trans "Data inizio" %}:</b> {{ campaign.date_start }}
                      <br>
                      <b>{% trans "Data fine" %}:</b> {{ campaign.date_end }}
                      <br>
                      <b>{% trans 'Liberatoria obbligatoria' %}:</b>
                      <svg class="icon icon-xs">
                      {% if campaign.requre_agreement %}
                        <use xlink:href="{% static 'svg/sprite.svg' %}#it-check"></use>
                      {% else %}
                        <use xlink:href="{% static 'svg/sprite.svg' %}#it-close"></use>
                      {% endif %}
                      </svg>
                  </p>
                </div>
              </div>
            </div>
            <!--end card-->
          </div>
          {% endfor %}
        </div>
    </div>
</div>
{% endblock container_inner %}
