"""adas URL Configuration

The `urlpatterns` list routes URLs to views. For more information please see:
    https://docs.djangoproject.com/en/2.2/topics/http/urls/
Examples:
Function views
    1. Add an import:  from my_app import views
    2. Add a URL to urlpatterns:  path('', views.home, name='home')
Class-based views
    1. Add an import:  from other_app.views import Home
    2. Add a URL to urlpatterns:  path('', Home.as_view(), name='home')
Including another URLconf
    1. Import the include() function: from django.urls import include, path
    2. Add a URL to urlpatterns:  path('blog/', include('blog.urls'))
"""
from django.conf import settings
from django.contrib import admin
from django.contrib.auth.views import LogoutView
from django.urls import path, include


def test500(request):
    raise Exception('test 500')


# admin labels
admin.site.site_header = 'Amministrazione Piattaforma'
admin.site.pretitle    = 'pretitle in urls.py'
admin.site.site_title  = 'Pannello di Amministrazione'


urlpatterns = [
    path('gestione/', admin.site.urls),
    path('logout/', LogoutView.as_view(),
                        {'next_page': settings.LOGOUT_REDIRECT_URL},
                        name='logout'),
    path('500/', test500, name='test500')
]


if 'assstud' in settings.INSTALLED_APPS:
    import assstud.urls
    urlpatterns += path('', include((assstud.urls, 'assstud',))),

if 'good_delivery' in settings.INSTALLED_APPS:
    import good_delivery.urls
    urlpatterns += path('', include((good_delivery.urls, 'good_delivery',))),

if 'saml2_sp' in settings.INSTALLED_APPS:
    import saml2_sp.urls
    urlpatterns += path('saml2', include((saml2_sp.urls, 'djangosaml2',))),
