{% load i18n %}
{% load good_delivery_tags %}

<div class="row">
    {% if multi_tenant %}
    <div class="col-lg-5">
        <div class="bootstrap-select-wrapper">
            <select id="search_delivery_point"
                    name="search_delivery_point"
                    data-live-search="true" data-live-search-placeholder="{% trans 'Cerca' %}...">
                <option value="{{ delivery_point.pk }}" selected>{{ delivery_point }}</option>
                <option value="">{% trans "Tutti i punti di consegna" %}</option>
            </select>
        </div>
    </div>
    {% endif %}
    <div class="col-lg-5">
        <div class="form-group">
            <input type="text" id="search_box" placeholder="{% trans 'Cerca...' %}">
        </div>
    </div>
</div>
